<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="ShowCase" connectionString="metadata=res://*/ShowCase.csdl|res://*/ShowCase.ssdl|res://*/ShowCase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=wolver-lap\sqlexpress;initial catalog=ShowCase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ShowCase" connectionString="metadata=res://*/ShowCase.csdl|res://*/ShowCase.ssdl|res://*/ShowCase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=wolver-lap\sqlexpress;initial catalog=ShowCase;persist security info=True;user id=sa;password=123@abc;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>