<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="wsHttpBinding" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:22701/UserService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserService" contract="UserSvc.IUserService"
                name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:3023/ProductService.svc/wsHttp"
                binding="wsHttpBinding" bindingConfiguration="wsHttpBinding"
                contract="ProductSvc.IProductService" name="wsHttpBinding">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>